<!doctype html>
<html>
  <head>

    {% block head %}
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% endblock %}
  </head>
  <body>
  <h1>Build a Blog</h1>
  <nav>
    <a href='/blog'>View Blog Posts</a>
    <a href='/newpost'>Add New Post</a>
  </nav>
  <hr/>

    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2019 by <a href="https://lizwp.com">LizWP</a>.
      {% endblock %}
    </div>
  </body>
</html>